<section class="row" style="padding-top: 20px;">
  <div class="span12">
    <h1>Gift Register</h1>
    <p>
      Your presence at our wedding is present alone! However, if you feel like bringing a gift for us, we've made a list of suggestions. Chelsea and I are starting from a near clean slate, so you can get pretty much anything and we'll love it! Spend as little or as much as you'd like. 
    </p>
    <p>
      <strong>Colours</strong>. If you're getting something like towels, or sheets, or things to decorate a room, we are thinking of going for a natural/ forest colour pallette. Greens, whites/cremes, browns, wood.
    </p>
  </div>
</section>

<hr />

<section class="row" style="padding-top: 20px;">
  <div class="span12">
    <ul>
      <li>20pc Dinner Set</li>
      <li>Cutlery</li>
      <li>Chef's Knife</li>
      <li>Knife Block</li>
      <li>Chopping Board</li>
      <li>Tumblers</li>
      <li>Wine Glasses</li>
      <li>Serving Platters</li>
      <li>Containers / Tupperware</li>
    </ul>
    <li>
      <li>Pots &amp; Pans</li>
      <li>Frying pan</li>
      <li>Casserole dish</li>
      <li>Flan/ Quiche dish</li>
    </ul>
    <ul>
      <li>Queen-size Duvet and/or Covers</li>
    </ul>
  </div>
</section>

<section class="row" style="padding-top: 20px;">
  <div class="span12">
    <h2>Things we don't need</h2>
    <p>Here are a few things we already own:</p>
    <ul>
      <li>Queen size bed <em>sheets</em></li>
      <li>Mirrors</li>
      <li>Toaster</li>
      <li>Rice cooker</li>
    </ul>
  </div>
</section>


