  <section class="row-fluid center">
    <div class="span12">
      <h1 class="logo fittext">Chelsea <span class="and">&amp;</span> <span class="nick">Nick</span></h1>
    </div>
  </section>

  <section class="row-fluid">
    <div class="span12 padded center">
      <h1 class="subtitle your_details fittext" style="padding-bottom:30px;">
        We are married!
      </h1>
      <p>
        Thanks to those who came, we truly appreciated seeing you there. Photos will follow shortly!
      </p>
    </div>
  </section>