<section class="row-fluid">
  <div class="span12 padded">
    <h1 class="subtitle your_details" style="padding-bottom:30px;">
      RSVP
    </h1>
    <% if current_guest.going_to_reception? %>
      <p>
        You are invited to the wedding, reception, and barbequeue the day after!
      </p> 
    <% else %>
      <p>
        You are invited to the wedding, reception, and barbequeue the day after!
      </p>
    <% end %>
  </div>
</section>