$bodyBackground: transparent;
$baseFontSize: 16px;
$baseLineHeight: 24px;
@import "bootstrap";
@import "bootstrap-responsive";
@import "mixins";
@import "home";

@include font-face(Lavanderia, asset_path('lavanderia-regular', font));
@include font-face(Lavanderia, asset_path('lavanderia-sturdy', font), bold);

html { 
	background: asset-url("hands.jpg", image) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
html, body, .container{
  height: 100%;
}
.background-overlay{
  background-color: #fff;
  background-color: rgba(255,255,255,0.7);
  height: 100%;
}

img{
  border: 10px solid white;
}

.tilt_left{
  @include rotate(-2deg);
}
.tilt_right{
  @include rotate(3deg);
}


.pad_top{
  padding-top: 50px;
}
.pad_right{
  padding-right: 50px;
}
.pad_bottom{
  padding-bottom: 50px;
}
.pad_left{
  padding-left: 50px;
}

.padded{
  padding: 0 50px 50px 50px;
}

.center{
  text-align: center;
}