$bodyBackground: transparent;
$baseFontSize: 16px;
$baseLineHeight: 24px;
@import "bootstrap";
@import "bootstrap-responsive";
@import "mixins";
@import "guests";
@import "home";

@include font-face(Lavanderia, asset_path('lavanderia-regular', font));
@include font-face(Lavanderia, asset_path('lavanderia-sturdy', font), bold);

html{
  background: asset-url("hands_overlaid_low_res.jpg", image) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html, body, .container{
  height: 100%;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

p{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.navbar{
  margin-bottom: 0px;

  .container{
    width: 940px;
  }
}

img.bordered{
  border: 10px solid white;
}

img.right{
  float: right;
  margin: 0 0 20px 20px;
}

.tilt_left{
  @include rotate(-2deg);
}
.tilt_right{
  @include rotate(3deg);
}

.text-success{
  color: #46a546;
}


.pad_top{
  padding-top: 50px;
}
.pad_right{
  padding-right: 50px;
}
.pad_bottom{
  padding-bottom: 50px;
}
.pad_left{
  padding-left: 50px;
}

.padded{
  padding: 0 50px 50px 50px;
}

.center{
  text-align: center;
}

.error{
  color: #A00;
  font-weight: bold;
}